mat-card{
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px
}
.M0-header{
  text-align:center;
}
.M0-w-80{
  width: 80%;
}
.forrget-password{
  padding-left: 0px
}
.M0-inp{
  padding-top: 10px;
}
.aLink{
  float: right;
  padding-right: 60px;
  text-decoration: none;
}
.M0-subscriped-holder{
  display: flex;
  margin: auto;
}
.M0-submit{
  margin-top: 10px;
}
